@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer components {
	.background-container {
		@apply flex relative justify-center h-screen w-screen bg-gray-700;
	}

	.button {
		@apply text-xl rounded-lg p-2.5 border-transparent border-[1px] bg-gray-800 cursor-pointer hover:border-teal-600;
	}

	.page-title {
		@apply text-4xl absolute top-14;
	}

	.table-wrapper {
		@apply relative overflow-x-auto shadow-md sm:rounded-lg m-auto w-2/3;
	}

	.table {
		@apply w-full text-xl rtl:text-right text-center text-gray-300;
	}

	.row {
		@apply bg-gray-800 border-b border-gray-600;
	}

	.head {
		@apply uppercase bg-gray-600;
	}

	.underliner {
		@apply text-blue-500 hover:underline;
	}

	.text-area {
		@apply h-2/3 w-full;
	}
}
